<div class="flex items-center justify-center min-h-screen bg-base-200 py-8">
  <div class="w-full max-w-md p-8 space-y-6 bg-base-100 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center text-gray-800">Edytuj uzytkownika</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-4" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= f.label :username, "Nazwa użytkownika", class:"label-text text-sm font-medium" %>
          </div>
          <%= f.text_field :username, class:"input input-bordered w-full bg-white " %>
        </label>
      </div>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= f.label :email, "Adres e-mail", class:"label-text text-sm font-medium" %>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input input-bordered w-full bg-white " %>
        </label>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-sm text-gray-600">Obecnie oczekiwanie na potwierdzenie dla: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= f.label :password, "Hasło", class:"label-text text-sm font-medium"%>
            <% if @minimum_password_length %>
              <em class="text-xs text-gray-500">(minimum <%= @minimum_password_length %> znaków)</em>
            <% end %>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class:"input input-bordered w-full bg-white"%>
          <div class="label">
            <span class="text-xs text-gray-500""">
              <em>Pozostaw puste, jeśli nie chcesz go zmieniać</em>
            </span>
          </div>
        </label>
      </div>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= f.label :password_confirmation, "Potwierdź hasło", class:"label-text text-sm font-medium" %>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input input-bordered w-full bg-white" %>
        </label>
      </div>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= f.label :avatar, "Avatar", class:"label-text text-sm font-medium" %>
          </div>
          <div class="block mx-auto">
            <% if @user.avatar.attached?%>
              <%=image_tag(@user.avatar.variant(resize_to_fill: [ 200, 200 ]).processed, class: "my-4 rounded-md m-auto drop-shadow-2xl")%>
              <%#=link_to "Usuń", remove_avatar_path(@user, avatar_id: @user.avatar.id), data: {confirm: "Are You sure?", turbo_method: :delete}, class: "mt-2 text-red-700"%>
            <% end %>
            <%= f.file_field :avatar, class:"file-input file-input-bordered w-full max-w-xs" %>
          </div>
        </label>
      </div>
      <div class="flex justify-center">
        <%= f.submit "Aktualizuj", class: "btn btn-accent btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg my-4 " %>
      </div>
    <% end %>
    <div>
      <h3 class="text-lg font-semibold text-gray-800">Niezadowolony? Usuń moje konto</h3>
      <div class="text-sm text-gray-600">
        <%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Czy na pewno chcesz usunąć swoje konto?", turbo_confirm: "Czy na pewno chcesz usunąć swoje konto?" }, method: :delete, class: "text-red-600 hover:text-red-800" %>
      </div>
    </div>
    <div class="text-center mt-4 ">
      <%= link_to "Powrót", :back, class: "text-accent hover:underline" %>
    </div>
  </div>
</div>
