<div class="grid grid-cols-12 mt-5 ">
  <div class="col-start-2 col-span-10 pl-4 py-4 rounded px-5">
    <%= form_with(model: venue) do |form| %>
      <div class= "">
        <div class="grid gap-x-8 grid-cols-2">
          <div class= "col-span-1">
            <div class="border p-3 my-3 w-full max-w-4xl bg-white shadow-md rounded-lg dark:bg-surface-dark">
              <%= form.label :name, "Nazwa" %>
              <%= form.text_field :name %>
            </div>
            <div class= "border p-3 my-3 w-full max-w-4xl bg-white shadow-md rounded-lg dark:bg-surface-dark ">
              <div class= "text-center mb-3">
                Kategorie:
              </div>
              <div class="">
                <% Category.all.each do |category| %>
                  <div>
                    <%= check_box_tag 'venue[category_ids][]', category.id, @venue.category_ids.include?(category.id) %>
                    <%= label_tag "venue_category_ids_#{category.id}", category.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class= "col-span-1">
            <div class="field border p-3 my-3 w-full max-w-4xl bg-white shadow-md rounded-lg dark:bg-surface-dark">
              <div class="text-center px-5">
                <%= form.label :primary_photo, "Zdjęcie Główne" %>
                <div class=my-5>
                  <%= primary_photo_in_form(@venue)%>
                </div>
              </div>
              <%= form.file_field :primary_photo %>
            </div>
            <div class="field border p-3 my-3 w-full max-w-4xl bg-white shadow-md rounded-lg dark:bg-surface-dark">
              <div class="text-center mt-2">
                <%= form.label :photos, "Zdjęcia"%>
                <div class="text-xs">
                  Możesz dodać do 4 zdjęć
                </div>
              </div>
              <div class="grid grid-cols-2 gap-4 p-3">
                <% if @venue.photos.attached?%>
                  <% @venue.photos.each do |photo| %>
                    <%= form.hidden_field :photos, multiple: true, value: photo.signed_id %>
                    <div>
                      <%= photo_in_form(photo)%>
                      <div class="text-center">
                        <%=link_to "Usuń", remove_photo_venue_path(@venue, photo_id: photo), data: {confirm: "Are You sure?", turbo_method: :delete}, class: "mt-2 text-red-700"%>
                      </div>
                    </div>
                  <% end %>
                <%end %>
              </div>
              <%= form.file_field :photos, multiple: true %>
            </div>
          </div>
        </div>
        <% if action_name == 'new' %>
          <div class="text-xs">
            <p>Po stworzeniu swojego lokalu, będzie on widoczny tylko dla Ciebie. Aktywuj go w swoim profilu</p>
          </div>
          <div class="my-3 px-6 py-2 bg-white text-indigo-600 rounded-lg font-semibold hover:bg-indigo-50 text-center">
            <%= form.submit%>
          </div>
        <% else %>
          <div>
            <div class="my-3">
              <%= form.label :is_active, "Czy Twój lokal jest aktywny?" %>
              <%= form.check_box :is_active %>
            </div>
            <div class="my-3 px-6 py-2 bg-white text-indigo-600 rounded-lg font-semibold hover:bg-indigo-50 text-center ">
              <%= form.submit %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
