<%= form_with(model: venue) do |form| %>
  <div class="grid grid-cols-2 gap-x-8 justify-items-stretch ">
    <div class= "col-span-1">
      <div>
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <%= form.label :name, "Nazwa lokalu", class:"label-text text-lg" %>
          </div>
          <%= form.text_field :name, class:"input input-bordered w-full max-w-xs" %>
        </label>
      </div>
      <div class= "my-3 w-full max-w-4xl dark:bg-surface-dark ">
        <div class="form-control">
          <div class= "label ">
            <%= form.label :categories, "Kategorie", class:"label-text text-lg"%>
          </div>
          <div class="grid grid-cols-2 gap-x-2 gap-y-2 ">
            <% Category.all.each do |category| %>
              <div class="label cursor-pointer border-2 rounded-full bg-base-100 ">
                <span class="label-text pl-2">
                  <%= label_tag "venue_category_ids_#{category.id}", category.name%>
                </span>
                <%= check_box_tag 'venue[category_ids][]', category.id, @venue.category_ids.include?(category.id), class: "checkbox border-amber-700 [--chkbg:theme(colors.base-300)] [--chkfg:orange] checked:border-amber-700"  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class= "col-span-1 justify-self-center">
      <div>
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <%= form.label :primary_photo, "Zdjęcie główne", class:"label-text text-lg" %>
          </div>
          <div class="field p-3 my-3 w-full max-w-4xl">
            <div class="">
              <%= primary_photo_in_form(@venue)%>
              <% if @venue.primary_photo.attached?%>
                <%=link_to "Usuń", remove_primary_photo_venue_path(@venue, primary_photo_id: @venue.primary_photo.id), data: {confirm: "Are You sure?", turbo_method: :delete}, class: "mt-2 text-red-700"%>
              <% end%>
            </div>
            <%= form.file_field :primary_photo, class:"file-input file-input-bordered w-full max-w-xs" %>
          </label>
        </div>
      </div>
      <div>
        <label class="form-control w-full max-w-xs">
          <div class="mt-2">
            <div class="label">
              <%= form.label :photos, "Zdjęcia lokalu", class:"label-text text-lg" %>
              <div class="text-xs">
                Maksymalnie 4 zdjęcia
              </div>
            </div>
          </div>
          <div class="field p-3 my-3 w-full max-w-4xl">
            <div class="grid grid-cols-2 gap-4 p-3">
              <% if @venue.photos.attached?%>
                <% @venue.photos.each do |photo| %>
                  <%= form.hidden_field :photos, multiple: true, value: photo.signed_id %>
                  <div>
                    <%= photo_in_form(photo)%>
                    <div class="text-center">
                      <%=link_to "Usuń", remove_photo_venue_path(@venue, photo_id: photo), data: {confirm: "Are You sure?", turbo_method: :delete}, class: "mt-2 text-red-700"%>
                    </div>
                  </div>
                <% end %>
              <%end %>
            </div>
            <%= form.file_field :photos, multiple: true, class:"file-input file-input-bordered w-full max-w-xs" %>
          </div>
        </label>
      </div>
    </div>
  </div>
  <% if action_name == 'new' %>
    <div class="text-xs my-2">
      <p>Po stworzeniu swojego lokalu, będzie on widoczny tylko dla Ciebie. Aktywuj go w swoim profilu</p>
    </div>
    <div class="text-center my-2">
      <button class="btn btn-block bg-base-100 hover:bg-base-300/20 hover:text-black/70">
        <%= form.submit %>
      </button>
    </div>
  <% else %>
    <div class="my-2">
      <div class="form-control">
        <label class="label cursor-pointer mx-auto">
          <span class="label-text px-4">
            <%= form.label :is_active, "Czy Twój lokal jest aktywny?" %>
          </span>
          <%= form.check_box :is_active, class: "checkbox border-amber-700 [--chkbg:theme(colors.base-300)] [--chkfg:orange] checked:border-amber-700" %>
        </label>
      </div>
      <div class="text-center my-2">
        <button class="btn btn-block bg-base-100 hover:bg-base-300/20 hover:text-black/70">
          <%= form.submit %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
