<div class="flex flex-col items-center min-h-screen bg-base-200 py-4 px-20">
  <div class="grid grid-cols-12 gap-4 w-full">
    <div class="col-span-4 border p-4  max-w-4xl min-w-96 min-h-64 bg-base-100 shadow-md rounded-lg">
      <div>
        <div class="text-2xl">
          <% if @venue.reviews.count != 0 %>
            <%= @venue.name %> (<%= @venue.avg_venue_rating%> / 6.0)
          <% else %>
            <%= @venue.name %>
            <div class="text-xs">
              Oceń jako pierwszy
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <button class="btn btn-accent btn-sm ">
            <%=link_to "Oceń", new_venue_review_path(@venue), class: "block px-6" %>
          </button>
        <% end %>
        <div>
          <div class="relative bg-cover bg-no-repeat p-3 ">
            <%= check_primary_photo(@venue)%>
          </div>
        </div>
        <div class="mt-2 flex divide-x-2">
          <% for category in @venue.categories %>
            <div class="text-sm px-2 text-accent">
              <%=category.name%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-span-8 w-full max-w-4xl bg-base-100 shadow-md rounded-lg border min-h-64">
      <div class="text-lg p-3">
        Zdjęcia:
      </div>
      <div>
        <% if @venue.photos.attached? %>
          <div class="grid grid-cols-2">
            <% @venue.photos.each do |photo| %>
              <div class="relative bg-cover bg-no-repeat p-2">
                <%= image_tag(photo.variant(resize_to_fill:[300, 250]).processed, class: "mx-auto object-cover") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-span-12 w-full min-h-64">
      <div class="mb-5 p-4 ">
        <h3 class="text-2xl ">
          Recenzje:
        </h3>
      </div>
      <% if @venue.reviews.count == 0 %>
        <div class="text-center">
          <p class="text-2xl">
            Brak recenzji
          </p>
        </div>
      <%end%>
      <% for review in @venue.reviews %>
        <div class="mb-10 bg-base-100 border p-4">
          <div class="float-end ">
            <div class="flex  ">
              <%=review.comments.count %> <img src="<%= asset_path('comment.svg') %>" class="max-w-4 mx-1" alt="Your SVG">
            </div>
          </div>
          <div class="mb-2 text-xl flex items-center">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-8 rounded-full">
                <%= review_avatar(review.user)%>
              </div>
            </div>
            <div>
              <%=link_to review.user.username, profile_path(review.user.id) %>
            </div>
          </div>
          <div class="my-4 px-3 text-3xl text-center">
            <%=link_to review.title, venue_review_path(@venue, review) %>
          </div>
          <div class="my-4 px-10">
            <p class="text-sm leading-5 text-pretty line-clamp-4 indent-4">
              <%= review.content %>
            </p>
          </div>
          <div class="border-t py-2">
            <div class="text-center text-xl">
              (<%=review.avg_review_rating%> / 6)
            </div>
            <div class="flex text-center justify-evenly mt-2">
              <% review.rating_dictionary.each do |category, rating| %>
                <div class="">
                  <div class="">
                    <%= category %>
                  </div>
                  <div class="">
                    <%= rating %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-12 w-full border min-h-64">
      <div>
        <%= render 'questions/questions', venue: @venue%>
      </div>
    </div>
  </div>
</div>