<div class="flex flex-col items-center min-h-screen bg-base-200 p-8">
  <div class="grid grid-cols-12 gap-4 mt-4 mx-10 w-full">
    <div class="col-span-6 border p-2  max-w-4xl bg-base-100 shadow-md rounded-lg dark:bg-surface-dark min-w-96 min-h-64">
      <div>
        <div class="text-2xl">
          <% if @venue.reviews.count != 0 %>
            <%= @venue.name %> (<%= @venue.avg_venue_rating%> / 6.0)
          <% else %>
            <%= @venue.name %>
            <div class="text-xs">
              Oceń jako pierwszy
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <button class="btn btn-primary ">
            <%=link_to "Oceń", new_venue_review_path(@venue), class: "block px-6" %>
          </button>
        <% end %>
        <div>
          <div class="relative bg-cover bg-no-repeat p-3 ">
            <%= check_primary_photo(@venue)%>
          </div>
        </div>
        <div class="mt-2 flex divide-x-2">
          <% for category in @venue.categories %>
            <div class="text-sm px-2">
              <%=category.name%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-span-6 w-full max-w-4xl bg-base-100 shadow-md rounded-lg dark:bg-surface-dark border min-h-64">
      <div class="text-lg p-3">
        Zdjęcia:
      </div>
      <div>
        <% if @venue.photos.attached? %>
          <div class="grid grid-cols-2">
            <% @venue.photos.each do |photo| %>
              <div class="relative bg-cover bg-no-repeat p-2">
                <%= image_tag(photo.variant(resize_to_fill:[300, 250]).processed, class: "mx-auto object-cover") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-span-12 p-3 w-full  bg-base-100 shadow-md rounded-lg dark:bg-surface-dark border min-h-64">
      <div class="text-lg mb-5">
        <h3>
          Recenzje:
        </h3>
      </div>
      <% if @venue.reviews.count == 0 %>
        <div class="text-center">
          <p class="text-xl">
            Brak recenzji
          </p>
        </div>
      <%end%>
      <% for review in @venue.reviews %>
        <div class="mx-7 mb-10 border p-4">
          <div class="float-end ">
            <div class="flex ">
              <%=review.comments.count %> <img src="<%= asset_path('comment.svg') %>" class="max-w-4 mx-1" alt="Your SVG">
            </div>
          </div>
          <div class="mb-2 text-xl">
            <%= review.user.username %> - <%=link_to review.title, venue_review_path(@venue, review) %>  (<%=review.avg_review_rating%> / 6) 
          </div>
          <div class="my-4 px-3">
            <p class="text-sm leading-4 text-pretty line-clamp-4 indent-2">
              <%= review.content %>
            </p>
          </div>
          <div class="border-t">
            <div class="flex text-center justify-evenly mt-2">
              <% review.rating_dictionary.each do |category, rating| %>
                <div class="">
                  <div class="">
                    <%= category %>
                  </div>
                  <div class="">
                    <%= rating %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-12 p-3 w-full  bg-base-100 shadow-md rounded-lg dark:bg-surface-dark border min-h-64">
      <div>
        <div class="text-lg mb-5">
          <h3>
            Pytania:
          </h3>
        </div>
        <div>
          <%if user_signed_in? %>
            <div class="mt-4">
              <%= form_with(model:[@venue,@question]) do |f| %>
                <label class="form-control w-full">
                  <div class="label">
                    <%= f.label "Pytania o lokal:", class:"label-text text-sm font-medium" %>
                  </div>
                  <%= f.text_field :question, class:"input input-bordered w-full bg-white " %>
                </label>
                <div class=" py-2 block">
                  <%= f.submit "Zapytaj", class: "btn btn-accent btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg " %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <% for question in @questions %>
            <div class="border-2 mt-3 px-3 py-2">
              <div>
                <%=datetime(question.created_at)%> <%= question.user.username %>:            
              </div>
              <div class=" mt-2 italic">
                <%= question.question%>
              </div>
              <% if current_user == question.user %>
                <%=button_to "Usuń", venue_question_path(@venue, question), method: :delete, class: "mt-2 text-red-700"%>
              <% end %>
              <div class="border-2 mt-3 px-3 py-2">
                <div class="mt-4">
                  <%if user_signed_in? %>
                    <%= form_with(model:[@venue, question, @answer]) do |f| %>
                      <label class="form-control w-full">
                        <div class="label">
                          <%= f.label "Odpowiedz:", class:"label-text text-sm font-medium" %>
                        </div>
                        <%= f.text_field :content, class:"input input-bordered w-full bg-white " %>
                      </label>
                      <div class=" py-2 block">
                        <%= f.submit "Odpowiedz", class: "btn btn-accent btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg " %>
                      </div>
                    <% end %>
                  <% end%>
                </div>
                <div class="divide-y-2">
                  <% for answer in question.answers%>
                    <div class="my-4">
                      <div class="mt-2">
                        <%=datetime(answer.created_at)%>  <%= answer.user.username %>:
                      </div>
                      <div class="grid grid-cols-4">
                        <div class="col-span-3 mt-2 italic pl-5">
                          <%= answer.content%>
                        </div>
                        <div class="col-span-1 text-center">
                          <%if current_user == answer.user %>
                            <div class="mx-2">
                              <%= button_to 'Usuń' , venue_question_answer_path(@venue, answer.question, answer), form_class: "btn bg-red-600",
                                                            method: :delete,
                                                            data: { turbo_method: :delete,
                                                            turbo_confirm: "Are you sure you want to delete this?"} %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>