<div class="flex flex-col items-center min-h-screen bg-base-200 py-4 px-20">
  <div class="grid grid-cols-12 gap-4 w-full">
    <div class="col-span-4 border p-4  max-w-4xl min-w-96 min-h-64 bg-base-100 shadow-md rounded-lg">
      <div>
        <div class="text-2xl">
          <% if @venue.reviews.count != 0 %>
            <%= @venue.name %> (<%= @venue.avg_venue_rating%> / 6.0)
          <% else %>
            <%= @venue.name %>
            <div class="text-xs">
              Oceń jako pierwszy
            </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <button class="btn btn-accent btn-sm ">
            <%=link_to "Oceń", new_venue_review_path(@venue), class: "block px-6" %>
          </button>
        <% end %>
        <div>
          <div class="relative bg-cover bg-no-repeat p-3 ">
            <%= check_primary_photo(@venue)%>
          </div>
        </div>
        <div class="mt-2 flex divide-x-2">
          <% for category in @venue.categories %>
            <div class="text-sm px-2 text-accent">
              <%=category.name%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-span-8 w-full max-w-4xl bg-base-100 shadow-md rounded-lg border min-h-64">
      <div class="text-lg p-3">
        Zdjęcia:
      </div>
      <div>
        <% if @venue.photos.attached? %>
          <div class="grid grid-cols-2">
            <% @venue.photos.each do |photo| %>
              <div class="relative bg-cover bg-no-repeat p-2">
                <%= image_tag(photo.variant(resize_to_fill:[300, 250]).processed, class: "mx-auto object-cover") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-span-12 w-full min-h-64">
      <div class="mb-5 p-4 ">
        <h3 class="text-2xl ">
          Recenzje:
        </h3>
      </div>
      <% if @venue.reviews.count == 0 %>
        <div class="text-center">
          <p class="text-2xl">
            Brak recenzji
          </p>
        </div>
      <%end%>
      <% for review in @venue.reviews %>
        <div class="mb-10 bg-base-100 border p-4">
          <div class="float-end ">
            <div class="flex  ">
              <%=review.comments.count %> <img src="<%= asset_path('comment.svg') %>" class="max-w-4 mx-1" alt="Your SVG">
            </div>
          </div>
          <div class="mb-2 text-xl flex items-center">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-8 rounded-full">
                <%= review_avatar(review.user)%>
              </div>
            </div>
            <div>
              <%=link_to review.user.username, profile_path(review.user.id) %>
            </div>
          </div>
          <div class="my-4 px-3 text-3xl text-center">
            <%=link_to review.title, venue_review_path(@venue, review) %>
          </div>
          <div class="my-4 px-10">
            <p class="text-sm leading-5 text-pretty line-clamp-4 indent-4">
              <%= review.content %>
            </p>
          </div>
          <div class="border-t py-2">
            <div class="text-center text-xl">
              (<%=review.avg_review_rating%> / 6)
            </div>
            <div class="flex text-center justify-evenly mt-2">
              <% review.rating_dictionary.each do |category, rating| %>
                <div class="">
                  <div class="">
                    <%= category %>
                  </div>
                  <div class="">
                    <%= rating %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-span-12 w-full border min-h-64">
      <div>
        <div class="m-4">
          <h3 class="text-2xl">
            Pytania:
          </h3>
        </div>
        <div>
          <%if user_signed_in? %>
            <div class="m-4">
              <%= form_with(model:[@venue,@question]) do |f| %>
                <label class="form-control w-full">
                  <div class="label">
                    <%= f.label "Pytania o lokal:", class:"label-text text-sm font-medium" %>
                  </div>
                  <%= f.text_field :question, class:"input input-bordered w-full bg-white " %>
                </label>
                <div class=" py-2 block">
                  <%= f.submit "Zapytaj", class: "btn btn-accent btn-wide btn-xs md:btn-sm lg:btn-md " %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <% for question in @questions %>
            <div class="px-3 py-2 shadow-m  bg-base-100 my-6">
              <div class="ml-6 mt-2 flex items-center">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                  <div class="w-8 rounded-full">
                    <%= comment_avatar(question.user)%>
                  </div>
                </div>
                <div class=" text-accent">
                  <%=link_to question.user.username, profile_path(question.user.id) %>:
                </div>
              </div>
              <div class="grid grid-cols-4">
                <div class="col-span-3 mt-2 ml-16">
                  <p class="italic inline bg-accent/10 text-lg">
                    <%= question.question%>
                  </p>
                </div>
                <div class="col-span-1 text-center">
                  <%if current_user == question.user %>
                    <div class="mx-2">
                      <%= button_to "Usuń", venue_question_path(@venue, question), form_class: "btn bg-red-600",
                                                            method: :delete,
                                                            data: { turbo_method: :delete,
                                                            turbo_confirm: "Are you sure you want to delete this?"} %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="flex justify-center text-xs text-accent">
                <%=datetime(question.created_at)%>
              </div>
              <div class="mt-3 px-3 ">
                <div class="mt-2">
                  <%if user_signed_in? %>
                    <%= form_with(model:[question, @answer], data: {turbo_frame: "answers_list"}) do |f| %>
                      <label class="form-control w-full">
                        <div class="label">
                          <%= f.label "Odpowiedz:", class:"label-text text-sm font-medium" %>
                        </div>
                        <%= f.text_field :content, class:"input input-bordered bg-white" %>
                      </label>
                      <div class="py-2 block">
                        <%= f.submit "Odpowiedz", class: "btn btn-accent btn-wide btn-xs md:btn-sm lg:btn-md" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <%= turbo_frame_tag dom_id(question, :answers) do %>
                  <%= render partial: 'answers/answer_list', locals: { answers: question.answers}%>
                <% end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>