<div class="grid grid-cols-9 mt-5 border p-8 w-full  bg-base-100 shadow-md rounded-lg dark:bg-surface-dark min-h-64">
  <div class="col-start-2 col-span-7 pl-4 py-4 rounded-sm">
    <%= form_with model:[venue, review] do |form| %>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= form.label :title, "Tytuł:", class:"label-text text-sm font-medium" %>
          </div>
          <%= form.text_field :title, class:"input input-bordered w-full bg-white " %>
        </label>
      </div>
      <div class="flex flex-col space-y-1 my-4">
        <label class="form-control w-full">
          <div class="label">
            <%= form.label :content, "Opis:", class:"label-text text-sm font-medium" %>
          </div>
          <%= form.text_area :content, class:"input input-bordered w-full bg-white min-h-20 " %>
        </label>
      </div>
      <div class="my-9 divide-y ">
        <%= form.fields_for :rating do |ratings_subform| %>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :value_rating, "Oceń wartość", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy jedzenie jest dobrze przygotowane, świeże i smaczne? Jak wyglądają dania? Czy oferta jest zróżnicowana, dostosowana do różnych preferencji dietetycznych?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :value_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :service_rating, "Oceń serwis", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy obsługa jest uprzejma, pomocna i kompetentna? Czy czas oczekiwania jest adekwatny do rodzaju potraw?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :service_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :atmosphere_rating, "Oceń atmosferę", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy restauracja jest estetyczna, wygodna i przytulna? Czy muzyka i światło są odpowiednie, tworząc przyjemny nastrój?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :atmosphere_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :quality_rating, "Oceń jakość", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy ceny są odpowiednie do jakości jedzenia i obsługi? Czy lokal i jego otoczenie są zadbane, czyste i schludne?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :quality_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :availability_rating, "Oceń dostępność", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy restauracja znajduje się w dogodnym miejscu? Czy restauracja jest otwarta w dogodnych dla klientów godzinach?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :availability_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
          <div class="flex flex-col space-y-1 my-4 py-4  ">
            <label class="form-control w-full ">
              <div class="label text-center mx-auto">
                <%= ratings_subform.label :uniqueness_rating, "Oceń unikalność", class:"label-text text-2xl font-medium " %>
              </div>
              <div class="text-xs px-5 mb-8 text-center">
                Czy restauracja oferuje oryginalne dania lub unikalne połączenia smakowe? Czy oferowanie tradycyjne dania są wyjątkowe w swoim smaku?
              </div>
              <div class="text-center flex mt-1 mb-3 justify-around">
                <% (1..6).each do |rating_value| %>
                  <label class="flex">
                    <div>
                      <%= ratings_subform.radio_button :uniqueness_rating, rating_value, class: "radio radio-warning" %>
                    </div>
                    <div class="px-2">
                      <%= rating_value %>
                    </div>
                  </label>
                <% end %>
              </div>
            </label>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center">
        <button class="btn btn-accent btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg">
          <%= form.submit%>
        </button>
      </div>
    <% end %>
  </div>
</div>
