<nav class="relative flex bg-gray-400/20 justify-start py-4 ">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <ul class="flex flex-row mx-2 ">
      <li>
        <%=link_to "Home", root_path, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
      </li>
      <li>
        <%=link_to "Venues", venues_path, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
      </li>
    </ul>
    <ul class="flex justify-end flex-row mx-2">
      <% if user_signed_in? %>
        <li>
          <div class="block pr-10 text-black/80">
            Hello <%= current_user.username %>
          </div>
        </li>
        <li>
          <%=link_to "Create Venue", new_venue_path, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
        </li>
        <li>
          <%=link_to "Profile", profile_path(current_user), :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
        </li>
        <li class="">
          <%=button_to "Logout", destroy_user_session_path, method: :delete, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
        </li>
      <% else %>
        <li class="">
          <%=link_to "Sign In", new_user_session_path, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
        </li>
        <li class="">
          <%=link_to "Sign Up", new_user_registration_path, :class => "block px-4 text-black/40 transition duration-200 hover:text-black/80" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
