<nav class="relative shadow flex bg-white justify-start py-4 ">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <ul class="flex flex-row mx-2 ">
      <li>
        <%=link_to "Knajping", root_path, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
      </li>
      <li>
        <%=link_to "Lokale", venues_path, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
      </li>
    </ul>
    <ul class="flex justify-end flex-row mx-2">
      <% if user_signed_in? %>
        <li>
          <div class="block pr-10 text-black/80">
            Cześć, <%= current_user.username %>
          </div>
        </li>
        <li>
          <%=link_to "Stwórz Lokal", new_venue_path, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
        </li>
        <li>
          <%=link_to "Profil", profile_path(current_user), :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
        </li>
        <li class="">
          <%=button_to "Wyloguj się", destroy_user_session_path, method: :delete, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
        </li>
      <% else %>
        <li class="">
          <%=link_to "Zaloguj się", new_user_session_path, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
        </li>
        <li class="">
          <%=link_to "Zarejestruj się", new_user_registration_path, :class => "block px-4 text-black/40 rounded-lg font-semibold transition duration-200 hover:text-black/80" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
