<header>
  <div class="navbar bg-base-300">
    <div class="navbar-start">
      <div class="flex md:hidden">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul tabindex="0" class="menu menu-md dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <% if user_signed_in? %>
              <li>
                <%=link_to "Lokale", venues_path%>
              </li>
            <% else %>
              <li>
                <%=link_to "Lokale", venues_path%>
              </li>
              <li>
                <a>Logowanie:</a>
                <ul>
                  <li>
                    <%=link_to "Zaloguj się", new_user_session_path%>
                  </li>
                  <li>
                    <%=link_to "Zarejestruj się", new_user_registration_path%>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="hidden md:flex">
        <%= link_to "Knajping", root_path, :class => "btn btn-ghost text-xl"%>
      </div>
    </div>
    <div class="navbar-center ">
      <div class="hidden md:flex">
        <ul class="menu menu-lg menu-horizontal px-1">
          <li><%=link_to "Lokale", venues_path %></li>
          <li>
            <details>
              <summary>Parent</summary>
              <ul class="p-2">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
              </ul>
            </details>
          </li>
          <li><a>Item 3</a></li>
        </ul>
      </div>
      <div class="flex md:hidden">
        <%= link_to "Knajping", root_path, :class => "btn btn-ghost text-xl"%>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="navbar-end">
        <div class="hidden md:block pr-10 text-black/80">
          Cześć, <%= current_user.username %>
        </div>
        <div class="flex-none gap-2">
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <%= header_avatar()%>
              </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
              <li>
                <%=link_to "Profil", profile_path(current_user)%>
              </li>
              <li>
                <%=link_to "Stwórz Lokal", new_venue_path%>
              </li>
              <li>
                <%=button_to "Wyloguj się", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-end">
        <div class="hidden md:flex ">
          <ul class="menu menu-horizontal px-1">
            <li>
              <%=link_to "Zaloguj się", new_user_session_path%>
            </li>
            <li>
              <%=link_to "Zarejestruj się", new_user_registration_path%>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</header>
